

$white: #fff;
$black: #000;
$background-light-one: #eef8ff;
$background-dark-one: #142033;
$blue: #0d6efd;
$dark-blue: #1149bc;
$purple:#875cf6;
$purple-100: #7127ea;
$purple-dark: #5e1eab;
$purple-dark-500: #320566;
$dark-blue-two:#144194;
$grey: #9ca5c1;
$grey-100: #86869f;

$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;