*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body-container{
    background-color:#252b43 ;
    color: white;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
header ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    
}
header ul li a{
    text-decoration: none;
    color:white;
}
.heading{
    margin-left: 40px;
}
.btn1{
    color: white;
    border: none;
    margin-left: 50px;
}
.btn2{
    margin-right: 200px;
}
.main{
    margin-top: 100px;
}
.para{
    color: #438cd0
}
.para1{
    font-size: 20px;
}
.img2{
    width: 200px;
    height: 250px;
    position: relative;
    top: -120px;
    right: 22px;
    border: 2px solid white; 
}