@use "./components/variable";
@use "./components/header";
@use "./components/footer";
@use "./components/services";

//  body {
//      letter-spacing: 0px;
//      padding: 0px;
//      overflow-x: hidden;
//      z-index: 2;
//      margin: 0;
//      padding: 0;
//     box-sizing: border-box;
   // background-image: url("./Images/about.jpg");

//}


.main-container {
    background-image: url("http://127.0.0.1:8000/Images/about.jpg");
    background-repeat: no-repeat;
   //background: url(./Images/about.jpg) no-repeat center;
    //background-color: rgb(30, 25, 54);
    height: 500px;
    width: auto;


    .main-row {
        .logo-img img {
            width: 80px;
            height: auto;

        }
    }

    .navbar-column {
        ul {
            li {
                a {
                    color: white;
                }
            }
        }
    }

    .about {

        h1,
        h4,
        p {
            color: white;
            text-align: center;
        }
    }

    .card {
        height: 450px;
    }

    .middle-container {
        .middle-row {
            .image img {
                height: 700px;
                width: 700px;
            }

            .para {
                color: white;
                background-color: aqua;
            }
        }

    }
    strong{
        font-size: 20px;

        .paragraph{
            display: flex;
        }
    }
    .heading{
        color: purple;
        align-items: center;
    }
    .footer-img img{
               width: 150px;
             }
             .footer-ul{
                 color: white;
                 ul{
                    li{
                        list-style: none;
                    }
                 }
         }

      hr{
        color: gray;
      }
      .footer-para{
        color: white;
      }

}
