header{
    display: flex;
}
header nav{
    margin-left: 300px;
}
header nav ul{
    display: flex;
   list-style-type: none;
   gap: 20px;
}
header nav ul li a{
    color: gray;
    text-decoration: none;
    font-size: 12px;
    gap:10px;
}
header h6{
    color:gray;
    margin-left: 100px;
}
#button{
    color: black;
    background: transparent;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-left: 200px;
    height: 50px;
    width: 150px;
}
.main-img{
    background-image: url(download.jpeg);
    height: 80vh;
    background-size: cover;
}
.main-img h1{
    color:white;
    padding-top: 200px;
    align-items: center;
    text-align: center;
    font-size: 50px;
}
.main-img p{
    color: white;
    align-items: center;
    text-align: center;
}
.main-img button{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 550px;
    margin-top: 20px;
    color:white;
    background: transparent;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
}
footer{
    background-color: white;
    height: 20vh; 
}